<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" name="Suite" parallel="tests">
	<test name="testLccrm">
		<classes>
			<class name="com.Selenium.testLccrm.TestLeadEntry">
			<methods>
				<include name="LoginData" />
				<include name="LeadData" />
				<!-- <include name="RegisterData" />
				<include name="BatchDataRead" />
				<include name="EmployeeData" />
				<include name="MasterData" />
				<include name="ReportsData" /> -->
			</methods>
		   </class>
		</classes>
	</test>

</suite> 


